# Ignore node_modules in both frontend and backend
node_modules/

# Ignore Next.js build folder in frontend
frontend/e-shop/.next/

# Ignore node_modules in frontend and backend
frontend/e-shop/node_modules/
backend/e-shop/node_modules/

# Ignore dist folder in backend (compiled files)
backend/e-shop/dist/

# Ignore environment variable files
*.env
